<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/svg+xml" href="~/Content/Images/favicon.svg">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PointReaction</title>
    @Styles.Render("~/bundles/defaultStyles")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <canvas id="background-canvas"></canvas>
    @RenderBody()
    @Scripts.Render("~/bundles/defaultScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
