@{
    ViewBag.Title = "Startseite";
}

@section scripts {
    <script src="~/Scripts/Home/index.js"></script>
}

@section styles {
    <link rel="stylesheet" href="~/Content/Home/index.css" type="text/css" />    
}


<div id="home-area">
    <div id="home-wrapper">
        <section id="user-information-area">
            <div class="button-box">
                @Html.ActionLink("Mehr anzeigen", "Information", "User", new { area = "" }, new { @id = "user-information-button", @class = "custom-button" })
            </div>
        </section>
        <section id="shop-area">
            <div class="button-box">
                @Html.ActionLink("Shop öffnen", "Shop", "Game", new { area = "" }, new { @id = "shop-button", @class = "custom-button" })
            </div>
        </section>
        <section id="game-animation-area">
            <canvas id="animation-canvas"></canvas>
            @Html.ActionLink(" ", "Settings", "User", new { area = "" }, new { @id = "settings-button", @title = "Einstellungen" })
        </section>
        <section id="game-start-area">
            <div class="button-box">
                @Html.ActionLink("Spiel starten", "Index", "Game", new { area = "" }, new { @id = "start-game-button", @class = "custom-button" })
            </div>
        </section>
        <section id="register-area">
            <div class="info-box">
                <div class="text-box">
                    <p>Speichere Spielfortschritte ab und ermögliche es Dir selbst, den Shop in vollem Umfang zu nutzen!</p>
                </div>
            </div>
            <div class="button-box">
                @Html.ActionLink("Registrieren", "Register", "Verify", new { area = "" }, new { @id = "register-button", @class = "custom-button" })
            </div>
        </section>
        <section id="login-area">
            <div class="info-box">
                <div class="text-box">
                    <p>Lade deinen Spielstand und erweitere dein bereits erstelltes Konto um einzigartige Items!</p>
                </div>
            </div>
            <div class="button-box">
                @Html.ActionLink("Einloggen", "Login", "Verify", new { area = "" }, new { @id = "login-button", @class = "custom-button" })
            </div>
        </section>
        <section id="leaderboard-area">
            <h4>Rangliste</h4>
            <div class="text-box">
                <p>Die Top <b>5</b> Spieler mit den meisten Punkten</p>
            </div>
            <div class="leaderboard-box">
                <table id="leaderboard-table"></table>
            </div>
            <div class="button-box">
                @Html.ActionLink("Mehr anzeigen", "Leaderboard", "Game", new { area = "" }, new { @id = "leaderboard-button", @class = "custom-button" })
            </div>
        </section>
    </div>
    <div id="made-by-area">AuP-Projekt | Andreas Gutmann, Pascal Brennich</div>
</div>